<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form class="" method="POST" action="/piglatinize">
      <p>"Enter your phrase:"<input type="text" name="user_phrase" value=""></p>
      <p><button type="submit" name="button" value ="Submit" id="Submit"></button></p>
    </form>
  </body>
</html>
